@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* Margin Variables */
	--spacing-xsss: 0.25rem;
	--spacing-xss: 0.5rem;
	--spacing-xs: 0.75rem;
	--spacing-sm: 1rem;
	--spacing-md: 1.25rem;
	--spacing-lg: 1.75rem;
	--spacing-xl: 2.5rem;
	--spacing-xxl: 3.75rem;
	--spacing-xxxl: 10rem;
	--spacing-xxxxl: 15rem;

	/* Color Variables */
	--dark-color: #023047;
	--light-color: #caf0f8;
	--detail-a: #e76f51;
	--detail-b: #527baf;
	--shadow-box-color: #c0b1ab;

	/* Fonts */
	--ff: "Noto Sans", sans-serif;
	--h1: bold 4rem/1em var(--ff);
	--h2: bold 2rem/1.6em var(--ff);
	--p: 1rem/2em var(--ff);

	/* Project Card Fonts */
	--h3: bold 2rem/1.8em var(--ff);
	--project-card-descr: 1rem/1.6em var(--ff);
	--project-card-tech: 1.2rem/2em var(--ff);
	--github-link: 0.8rem/2em var(--ff);
}

#root {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;

	width: 100vw;
	height: 100vh;

	color: var(--light-color);
	background-color: var(--dark-color);

	font-family: var(--ff);
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
